body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="submit"] {
    height: 30px;
    line-height: 30px;
}

.hidden {
    display: none;
}

ul.pagination {
    display: flex;
    list-style: none;
    justify-content: space-between
}