<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% include "header.twig" %}
    {% include "link-css.twig" %}
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>